# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.db

# Dependências
env/
venv/
*.egg-info/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Arquivos de log
*.log

# Arquivos de sistema
.DS_Store
Thumbs.db

# Notas
notas.txt